body {
  font-family: "GT Walesheim";
}

@font-face {
  font-family: "GT Walesheim";
  src: url("../assets/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf");
}

/* Home.jsx style */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40em;
}

img {
  height: 11em;
  width: 24em;
  background-color: navajowhite;
}

.blog {
  /* border: 1px red solid; */
  margin-bottom: 1em;
  max-width: 24em;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}

.blog-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* Post.jsx styles */

.post-title,
.post-content {
  border: none;
  width: 55vw;
  margin: auto;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: "GT Walesheim";
  display: flex;
  justify-content: center;
}

#post {
  display: none;
}

.post-title,
.post-content:focus {
  outline: none;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 22em;
  margin-bottom: 2em;
}

.post-button,
.write-blog {
  background-color: green;
  border: none;
  padding: 0.5em;
  width: 4em;
  color: white;
  border-radius: 2em;
}
