body {
  font-family: "GT Walesheim";
  margin: 0;
}

@font-face {
  font-family: "GT Walesheim";
  src: url("../assets/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf");
}

/* Home.jsx style */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5em;
}

.my-blog-button {
  background-color: green;
  border: none;
  padding: 0.5em;
  width: 5em;
  color: white;
  border-radius: 2em;
}

.search {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.first-image {
  height: 20em;
  width: 25em;
}

.search-bar {
  border: none;
  font-family: "GT Walesheim";
  padding: 0.5em;
}

.home-page-image {
  object-fit: cover;
}

.search-bar:focus {
  outline: none;
}

.blog-title--content {
  margin-left: 3%;
}

.main-blog-title,
.main-blog-content {
  max-width: 100%;
  margin: 0;
  padding: 0.1em;
}

img {
  height: auto;
  width: 13em;
  /* border-radius: 0.5em; */
}

.blog {
  /* display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2em;
  margin-bottom: 4em;
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.01), 0px 5px 4px rgba(3, 7, 18, 0.02),
    0px 12px 9px rgba(3, 7, 18, 0.02), 0px 20px 15px rgba(3, 7, 18, 0.03),
    0px 32px 24px rgba(3, 7, 18, 0.04);
  padding: 0.5em; */
  /* border: 1px red solid;
  display: flex;
  /* flex-direction: column; */
  /* gap: 0.5em;
  width: 50%;  */
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: stretch;
}

.small-boxes-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  align-items: start;
  /* border: 1px solid red; */
  /* flex: 1; Take up the remaining space */
  gap: 1.5em;
}
/* 
.small-boxes-container img:not(.user-image) {
  display: none;
} */

.small-boxes-container h2 {
  font-size: 1em;
}

.small-boxes-container p {
  font-size: 0.9em;
}

.first-blog {
  width: 100%;
  height: fit-content; /* Adjust height as needed */
  /* border: 1px greenyellow solid; */
}

.ss-blog-container {
  /* border: 1px greenyellow solid; */
  width: 30em;
  /* display: flex; */
}

.link {
  text-decoration: none;
  color: black;
}

.blog-container {
  display: flex;
  justify-content: center;
  gap: 17em;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-left: 24.8em;
  margin-top: 1em;
}
.first-blog-container {
  /* flex: 0 0 20em; Fixed width for the first blog container */
  display: flex;
  width: 0em;
  /* align-items: center; */
  justify-content: center;
}

.display-user {
  display: flex;
  align-items: center;
}

.author-name {
  color: gray;
  font-size: 0.8em;
}

.user-image {
  border-radius: 50em;
  border-style: none;
  width: 1.5em;
  height: 1.5em;
}

.remaining-boxes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 3.3em;
  margin-top: 2em;
}

.remaining-blog-container {
  padding-bottom: 1em;
}

.others-image {
  width: 16em;
  height: 8em;
}

.other-blogs {
  width: 21em;
}

/* Post.jsx styles */

.post-title,
.post-content {
  border: none;
  width: 55vw;
  margin: auto;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: "GT Walesheim";
  display: flex;
  justify-content: center;
}

#post {
  display: none;
}

.post-title,
.post-content:focus {
  outline: none;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 22em;
  margin-bottom: 2em;
}
.buttons {
  display: flex;
  gap: 1.5em;
}

.post-button,
.write-blog,
.logout-button {
  background-color: green;
  border: none;
  padding: 0.5em;
  width: 4em;
  color: white;
  border-radius: 2em;
}

.image-input {
  margin-left: 16em;
}

/* Blog.jsx styles */
.blog_to_read {
  width: 50em;
  margin: auto;
}

/* Login.jsx */

.login {
  height: 99.9vh;
  display: flex;
  align-items: center;
  background-color: #27dec0;
}

.login-container {
  width: 70vw;
  height: 70vh;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 3em;
  background-color: #152f37;
  border-radius: 1em;
}

.login-username,
.login-password {
  background-color: #152f37;
  color: white;
  border: none;
  margin-bottom: 2em;
  font-family: "GT Walesheim";
  font-size: large;
  display: block;
  border-bottom: 1px white solid;
  padding: 0.3em;
}

.login-username,
.login-password:focus {
  outline: none;
}

.login-username::placeholder,
.login-password::placeholder {
  color: white;
}

.login-image {
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  width: fit-content;
  height: 100%;
  justify-self: flex-start;
}

.login-button {
  padding: 0.5em 1.1em 0.5em 1.1em;
  font-size: large;
  font-weight: bold;
  font-family: "GT Walesheim";
  border: none;
  color: #27dec0;
  border-radius: 2em;
}

@media (max-width: 425px) {
  .header {
    width: 100%;
  }

  .search-bar {
    width: 6em;
  }

  .blog {
    /* width: 56%;
    margin: auto; */
    cursor: pointer;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
    border: 1px solid red;
  }
  .blog-container {
    border: 1px solid red;
    display: block;
    /* justify-content: end; */
    gap: 17em;
    width: 100%;
    height: fit-content;
    margin: auto;
    margin-left: 0;
    margin-top: 1em;
  }

  .first-blog {
    margin-left: 12em;
    /* margin: auto; */
    width: 10em;
    height: fit-content; /* Adjust height as needed */
    /* border: 1px greenyellow solid; */
  }

  .first-image {
    height: 16em;
    width: 24em;
  }

  .blog-title--content {
    width: 24em;
  }

  .blog_to_read {
    width: 28em;
    font-size: 0.5em;
  }

  .ss-blog-container {
    border: 1px greenyellow solid;
    width: 74%;
    margin-top: 1em;
    /* display: flex; */
  }

  img {
    height: auto;
    width: 11em;
    /* border-radius: 0.5em; */
  }
}
