body {
  font-family: "GT Walesheim";
}

@font-face {
  font-family: "GT Walesheim";
  src: url("../assets/GT-Walsheim-Regular-Trial-BF651b7fc71a47d.otf");
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40em;
}

img {
  height: 11em;
  width: 24em;
  background-color: navajowhite;
}

.blog {
  /* border: 1px red solid; */
  margin-bottom: 1em;
  max-width: 24em;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}

.blog-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
